<!-- app-navbar></app-navbar>
<router-outlet></router-outlet>< -->
<app-login></app-login>

<!-- <base href=""> -->
<!-- <app-newplaylist></app-newplaylist> -->

<!-- <app-track-component></app-track-component> -->
<!-- <button (click) = 'addATrack(currentPlaylist.name, currentTrack.trackId)'>Add the track</button> -->
<!-- <app-add-track></app-add-track> -->
<app-adduser></app-adduser>
<!--The content below is only a placeholder and can be replaced.-->
2f5fe576621b5b7ff5b4d38965861a06c5eec76a



<app-newplaylist></app-newplaylist>

<app-track-component></app-track-component>
<router-outlet></router-outlet>
<!-- <button (click) = 'addATrack(currentPlaylist.name, currentTrack.trackId)'>Add the track</button> -->
<app-add-track></app-add-track>
