<div id="header" class = "container-fluid">
  <div>Listen'In</div>
</div>

<h1 style="color:rgb(56, 190, 51); text-align: center" >{{ hide ? "Login" : "Signup" }}</h1>
    <div *ngIf="hide" class="form">
    <form (submit)="login($event)">
      <label for="email" style="margin-right: 115px;">Email:</label><br>
      <input type="email" name="email" id="email" style="background-color:black; color:rgb(85, 255, 85); border:2px solid rgb(85, 255, 85)" required><br>
      <label for="password" style="margin-right: 100px;" >Password:</label><br>
      <input type="password" name="password" id="password" style="background-color:black; color:rgb(85, 255, 85); border:2px solid rgb(85, 255, 85)" required><br>
        <div>
            <input [hidden]="!hide" type="submit" h value="Login" ><br>
            <button class="button" (click)="showForm()">Register</button><br>
            <a *ngIf="!hide" (click)="showForm()" style="background-color:black; color:rgb(85, 255, 85)">Back to Login</a>
        </div>
    </form>
    </div>
    <div [hidden]='hide' class="form">
      <form  (submit)="addUser($event)">
        <label for="email" style="margin-right: 115px;">Email:</label><br>
        <input type="email" name="email" id="email" style="background-color:black; color:rgb(85, 255, 85); border:2px solid rgb(85, 255, 85)" required><br>
        <label for="password" style="margin-right: 100px;" >Password:</label><br>
        <input type="password" name="password" id="password" style="background-color:black; color:rgb(85, 255, 85); border:2px solid rgb(85, 255, 85)" required><br>
        <label for="password2" style="margin-right: 50px;">Confirm Password:</label><br>
        <input type="password" name="password2" id="password2" style="background-color:black; color:rgb(85, 255, 85); border:2px solid rgb(85, 255, 85)" required><br>
          <div>
              <button class="button" (click)="showForm()">Signup</button><br>
              <a *ngIf="!hide" href="#" (click)="showForm()" style="background-color:black; color:rgb(85, 255, 85)">Back to Login</a>
          </div>
      </form>
      </div>